entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["gitFull", "glibcLocales", "playwright-driver"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["uvicorn", "main:app", "--host=0.0.0.0", "--port=8000"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Run FastAPI"

[[workflows.workflow]]
name = "Run FastAPI"
author = 45831109
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host=0.0.0.0 --port=8000 --reload"
